<h1>Twitter Stream <%= form_tag tweets_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>

<tr>
   <td><%= gravatar_for tweet.user%></td>
   <td><%= tweet.description %> <br>
    by <%= tweet.user.handle %>
 		<%= link_to tweet.created_at.strftime("%Y-%m-%d %H:%M"), tweet %></td>
    <% if tweet.user == current_user %>
<td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>	
	<% end %>
</tr>


<% end %>
</table>

<br />


<%= link_to 'New Tweet', new_tweet_path %>